:root {
  --teks: #1C3547;
  --teks2: #5E6972;
  --primary: #E4262C;
  --epi: 'Epilogue', sans-serif;
  --pop: 'Poppins', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar  {
  background-color: #fff;
}
.nav-scrolled {
  background-color: #fff;
}
/* HERO */
.hero {
  position: relative;
  padding-top: 5rem;
}
.hero img {
  width: clamp(21.88rem, calc(14.56rem + 36.59vw), 40.63rem);
}
.heading {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 60%;
  transform: translateY(-50%);
  color: var(--teks);
}
.heading h1 {
  font-size: clamp(1.88rem, calc(1.63rem + 1.22vw), 2.50rem);
  font-weight: bold;
}
.heading h1::after {
  content: '';
  display: block;
  background-color: var(--primary);
  height: 2px;
  width: 6rem;
  margin: 10px auto;
}
.heading p {
  font-family: var(--epi);
  font-size: clamp(0.94rem, calc(0.82rem + 0.61vw), 1.25rem);
}

/* POSTINGAN */
.pencarian input, .pencarian select {
  font-family: var(--epi);
  color: var(--teks2);
  border-radius: 20px;
}
.cards a , .card {
  text-decoration: none;
  color: var(--teks2);
  transform: scale(.99);
  transition: .2s;
}
.card {
  border-radius: 15px;
  cursor: pointer;
}
.card:hover {
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
  transform: scale(1);  
  transition: .2s;
}
.username a {
  font-weight: 600;
  font-family: var(--epi);
}
.username a:hover {
  text-decoration: underline;
}
.username img {
  border-radius: 100%;
  width: 30px;
}
.icons img {
  scale: .8;
}
.icons i {
  /* font-size: 22px; */
  font-size: 18px;
}
.card-title {
  font-size: 1.15rem;
  font-weight: bold;
}
.card-paragraph, .icons p {
  font-size: .9rem;
  font-family: var(--epi);
}
.card-time {
  font-size: .7rem;
  font-family: var(--epi);
}

/* @media screen and (max-width:575px) {
  .heading h1 {
    font-size: 30px;
  }
} */