:root {
  --teks: #1C3547;
  --teks2: #5E6972;
  --primary: #E4262C;
  --biru: #18A2B8;
  --oren: #FFC108;
  --pink: #DC3646;
  --bg-biru: #E3F8FA;
  --bg-oren: #FFF9DD;
  --bg-pink: #FFE6E2;
  --epi: 'Epilogue', sans-serif;
  --pop: 'Poppins', sans-serif;
}

* {
  color: var(--teks);
}
/* NAVBAR */
.navbar  {
  background-color: #fff;
  position:fixed;top:0;right:0;left:0;z-index:1030
}
.nav-scrolled {
  background-color: #fff;
}
/* HERO */
.hero-content {
  padding-top: 100px;
  height: 90vh;
}
.hero-img {
  width: 90%;
  max-width: 500px;
}
.hero h1 {
  font-size: clamp(1.50rem, calc(0.91rem + 2.93vw), 3.00rem);
}
.hero h1 span {
  color: var(--primary);
}
/* CONTENT */
/* .content {
  margin-top: 5rem;
} */
.card > p {
  font-size: clamp(1.00rem, calc(0.90rem + 0.49vw), 1.25rem);
}
.cs-img {
  max-width: 200px;
}
.icon-list {
  text-decoration: none;
  border-radius: 20px;
  transition: .2s;
}
.icon-list:hover {
  transition: .2s;
}
.icon-list:hover > span {
  color: #fff;
}
.icon {
  width: 35px;
  height: 35px;
}
.icon i {
  font-size: 14px;
  color: #fff;
}
.phone:hover {
  background-color: var(--biru);
}
.phone .icon {
  background-color: var(--biru);
}
.icon .fa-whatsapp {
  font-size: 22px;
}
.whatsapp:hover {
  background-color: green;
}
.whatsapp .icon {
  background-color: green;
}
.mail:hover {
  background-color: var(--primary);
}
.mail .icon {
  background-color: var(--primary);
}
.icon .fa-envelope {
  font-size: 18px;
}
.accordion-button:not(.collapsed), .accordion-button:not(.collapsed):focus, .accordion-button:focus  {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px;
}
.accordion-body {
  font-family: var(--epi);
  font-size: clamp(0.9rem, calc(0.83rem + 0.24vw), 1.00rem);
  color: var(--teks2);
}

@media screen and (max-height:700px) {
  .hero-content {
    height: 100vh;
  }
}
@media screen and (min-height:991px) {
  .hero-content {
    height: 70vh;
  }
}