:root {
  --teks: #1C3547;
  --teks2: #5E6972;
  --primary: #E4262C;
  --biru: #003DB5;
  --oren: #D76535;
  --pink: #BF005C;
  --epi: 'Epilogue', sans-serif;
  --pop: 'Poppins', sans-serif;
}
/* UTILS */
.epi {
  font-family: var(--epi);
}
.pri {
  color: var(--primary);
}
.teks {
  color: var(--teks);
}
.teks2 {
  color: var(--teks2);
}
.fw-semibold {
  font-weight: 600;
}

* {
  font-family: 'Poppins', sans-serif;
}

.jarak {
  margin-bottom: 150vh;
}
/* NAVBAR */
.navbar {
  transition: .2s;
}
.navbar-brand img {
  width: clamp(100px, 15vw, 110px);
}
.navbar-toggler, .navbar-toggler:focus {
  text-decoration: none;
  border: none;
  outline: 0;
  box-shadow: none;
}
.navbar-nav > .active {
  font-weight: 600;
}
.nav-scrolled {
  background-color: #fff;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
  transition: .2s;
}
.navbar-nav .nav-link {
  position: relative;
}
.navbar-nav .nav-link:hover {
  transition: none;
  color: #fff !important;
}
.navbar-nav .nav-link:hover::after, .navbar-nav .active::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  left: 0;
  right: 0;
  width: 100%;
  height: 80%;
  border-radius: 20px;
  background-color: var(--primary);
}
.navbar-nav .active {
  position: relative;
  color: #fff !important;
}
/* NAVBAR end */

/* FOOTER */
footer {
  background-color: #F5F5F5;
  width: 100%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  margin-top: 100px;
}
footer .smktelkom {
  width: clamp(9.38rem, calc(7.67rem + 8.54vw), 13.75rem);;
}
footer .sekunder {
  width: clamp(7.50rem, calc(6.77rem + 3.66vw), 9.38rem);
}
footer .footer-icon {
  border-radius: 100%;
  background-color: #D9D9D9;
  width: clamp(2.50rem, calc(2.26rem + 1.22vw), 3rem);;
  height: clamp(2.50rem, calc(2.26rem + 1.22vw), 3rem);;
  transform: scale(.9);
  transition: .1s;
}
footer .footer-icon:hover {
  box-shadow:0 .5rem .2rem rgba(0,0,0,.15);
  /* border: 1px solid var(--teks2); */
  transform: scale(1);
}
footer .footer-icon img {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
  max-width: 60%;
}
footer .d-flex a:nth-child(2) img {
  max-width: 35%;
}
footer p {
  font-size: clamp(0.75rem, calc(0.65rem + 0.49vw), 1.00rem);
  margin-bottom: 0;
}
footer .small {
  font-size: clamp(0.63rem, calc(0.53rem + 0.49vw), 0.88rem);
  font-weight: 300;
}
footer hr {
  width: 75%;
  margin: 25px auto 10px;
}

/* TOP BUTTON */
.top {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  transform: scale(0);
  transition: .1s;
}
.top i {
  border-radius: 100%;
  font-size: clamp(2.50rem, calc(2.30rem + 0.98vw), 3.00rem);
  color: var(--primary);
  box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
}
.top-scrolled {
  transform: scale(1);
  transition: .2s;
}


@media screen and (max-width:992px) {
  .navbar-nav .nav-link {
    width: 50%;
    margin: 0 auto;
    font-size: 15px;
  }
}
@media screen and (min-width:768px) {
  .top {
    bottom: 40px;
    right: 40px;
  }
}
@media screen and (min-width:992px) {
  .top {
    bottom: 40px;
    right: 50px;
  }
}