:root {
  --teks: #1C3547;
  --teks2: #5E6972;
  --primary: #E4262C;
  --biru: #003DB5;
  --oren: #D76535;
  --pink: #BF005C;
  --epi: 'Epilogue', sans-serif;
  --pop: 'Poppins', sans-serif;
}

* {
  color: var(--teks);
}

/* NAVBAR */
.navbar {
  position:fixed;top:0;right:0;left:0;z-index:1030 !important;
}
.navbar-dark .nav-link {
  color: #fff !important;
}
.primer, .putih {
  display: none;
}
.primer-active {
  display: inline;
}
.putih-active {
  display: inline;
}
.merah {
  color: red;
}
/* HERO */
.hero {
  position: relative;
}
.hero .hero-m {
  width: 100%;
  height: auto;
}
.hero-content {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
.hero-title {
  font-size: clamp(1.63rem, calc(1.09rem + 2.68vw), 3.00rem);
  font-weight: 600;
}
.hero-title span {
  color: var(--primary);
}
.hero-title::after {
  content: '';
  display: none;
  height: 2px;
  width: 3rem;
  background-color: var(--primary);
  margin: 1rem auto;
}
.hero-title, .hero-subtitle {
  color: #fff;
}
.hero-subtitle {
  font-size: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
}
.stats {
  transform: translateY(-8vw);
}
.stats i {
  color: var(--primary);
}
.stats .number {
  font-size: clamp(1.50rem, calc(1.21rem + 1.46vw), 2.25rem);
}
.stats-text {
  font-size: clamp(0.88rem, calc(0.73rem + 0.73vw), 1.25rem);;
}
.bekerja {
  margin: 0 clamp(1.88rem, calc(1.14rem + 3.66vw), 3.75rem) 0 clamp(2.50rem, calc(1.52rem + 4.88vw), 5.00rem);
}
.kotak-merah {
  position: relative;
  width: 120px;
  left: 0;
  opacity: .3;
  animation: floating 2.5s infinite alternate-reverse;
  z-index: -1;
}
@keyframes floating {
  from {
    transform: translateY(60px);
  }
  to {
      transform: translateY(90px);
  }
}



/* DESKTOP */
@media screen and (min-width:992px) {
  /* NAVBAR */
  .navbar {background-color: transparent;}
  .navbar-dark .nav-link{color: #707071 !important; transition: none;}
  .navbar-dark .nav-link:hover{color: #fff !important; transition: none;}
  .navbar-dark .active{color: #fff !important;}
  .nav-scrolled {background-color: #fff;}
  .primer {display: block;} */
  /* HERO */
  .hero {
    position: static;
  }
  .hero-content {
    padding-top: 90px;
    position: static;
    transform: none;
    width: 52%;
  }
  .hero-title, .hero-subtitle {
    color: var(--teks);
  }
  .hero img {
    position: absolute;
    top: 0;
    right: 0;
    width: 47%;
    max-width: 875px;
  }
  .stats {
    position: static;
    margin-top: 4.38rem;
    transform: none;
  }
}


@media screen and (min-width:1200px) {
  .hero-content {
    padding-top: 110px;
    width: 43%;
  }
  .hero img {
    max-width: 100%;
  }
}