:root {
  --teks: #1C3547;
  --teks2: #5E6972;
  --primary: #E4262C;
  --biru: #003DB5;
  --oren: #D76535;
  --pink: #BF005C;
  --epi: 'Epilogue', sans-serif;
  --pop: 'Poppins', sans-serif;
}

* {
  color: var(--teks);
}
/* NAVBAR */
.navbar {
  position:fixed;top:0;right:0;left:0;z-index:1030 !important;
}
.navbar-dark .nav-link {
  color: #fff !important;
}
.primer, .putih {
  display: none;
}
.primer-active {
  display: inline;
}
.putih-active {
  display: inline;
}
.merah {
  color: red;
}

/* HERO */
.section-title::after {
  content: '';
  display: block;
  height: 3px;
  width: 3rem;
  background-color: var(--primary);
  margin: .5rem auto;
}
.hero {
  position: relative;
}
.hero img {
  width: 100%;
  height: auto;
  margin-top: -2rem;
}
.hero-text {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
.hero-text h1 {
  color: #fff;
  font-weight: 700;
  font-size: clamp(1.63rem, calc(0.99rem + 3.17vw), 3.25rem);
}
.hero-text span {
  color: #fff;
  font-weight: 300;
  font-size: clamp(1.38rem, calc(0.74rem + 3.17vw), 3.00rem);
}
.hero-text h1::after {
  content: '';
  display: block;
  height: 2px;
  width: 5rem;
  background-color: var(--primary);
  margin: 1rem auto;
}
/* .hero-text p {
  font-family: var(--epi);
  font-size: clamp(0.88rem, calc(0.63rem + 1.22vw), 1.50rem);
  font-weight: 300;
} */
/* QUOTE */
.quote {
  margin-top: 100px;
}
.section-text {
  position: relative;
}
.section-text h1 {
  font-size: clamp(1.25rem, calc(0.66rem + 2.93vw), 2.75rem);;
}
.section-text .q-depan {
  top: -60px;
  
}
.section-text .q-belakang {
  bottom: -60px;
  right: 7%;
}
.section-text .q-depan, .q-belakang {
  width: 80px;
  position: absolute;
  z-index: -1;
  opacity: .7;
}
/* .section-text::before {
  content: "";
  font-family: var(--epi);
  display: block;
  position: absolute;
  top: -40%;
  left: 10%;
  font-size: 100px;
} */
.quote p {
  font-size: clamp(0.88rem, calc(0.63rem + 1.22vw), 1.50rem);
}

@media screen and (min-width:440px) {
  .hero img {
    margin-top: -8rem;
  }
  .hero-text {
    transform: translateY(-50%);
  }
}
@media screen and (min-width:575px) {
  .hero img {
    margin-top: -14rem;
  }
  .hero-text {
    transform: translateY(-50%);
  }
}
@media screen and (min-width:765px) {
  .hero img {
    margin-top: -24rem;
  }
}
@media screen and (min-width:991px) {
  .hero img {
    margin-top: -30rem;
  }
}
/* @media screen and (max-width:991px) {
  .section-text {
    width: 50%;
  }
} */
@media screen and (min-width:1200px) {
  .hero img {
    margin-top: -42rem;
  }
}