:root {
  --teks: #1C3547;
  --teks2: #5E6972;
  --primary: #E4262C;
}

* {
  font-family: 'Poppins', sans-serif;
  color: var(--teks);
}

.sementara {
  margin-bottom: 1000px;
}

/* HERO */
.hero {
  position: relative;
}
.hero-d {
  display: none;
}
.hero-m {
  max-width: 100%;
  width: 100%;
  height: auto;
}
/* .hero::after {
  content: '';
  display: block;
  position: absolute;
  background-image: url(img/hero-m.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  width: auto; 
  height: 100%;
  top: 0;
  z-index: -1;
} */
.hero .teks {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 600;
}
.hero .teks h1 {
  color: #fff;
}
.hero p {
  text-align: center;
  margin: 0 auto;
  font-family: 'Epilogue', sans-serif;
}
.hero h1 span {
  color: var(--primary);
}
/* HERO end */


/* ===== TABLET ===== */
@media screen and (min-width:768px) {
  
}

/* DESKTOP */
@media screen and   (min-width:992px) {
  

  /* HERO */
  .hero {
    position: unset;
  }
  .hero h1 {
    font-size: 48px;
    margin-top: 100px;
    transform: translateY(0);
    position: static;
    text-align: left;
    color: var(--teks);
  }
  .hero p {
    font-size: 23px;
  }
  .hero-d {
    position: absolute;
    top: 0;
    right: 0;
  }
  .hero-m {
    display: none;
  }
  /* HERO end */
}